.catalog-preview {
  padding: 4rem 10rem;
  font-family: 'Lato', sans-serif;

  @media (max-width: 1024px) {
    padding: 4rem 2rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }

  &__grid {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
