.library-info-section {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;

  &__background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 15rem;
    right: 15rem;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (max-width: 1024px) {
      left: 2rem;
      right: 2rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 98px;

    @media (max-width: 750px) {
      display: contents;
    }
  }

  app-section-title {
    @media (max-width: 750px) {
      order: 1;
    }
  }

  &__text-box {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    line-height: 1.6;
    order: 2;

    padding: 2.5rem 3rem;
    font-size: 22px;

    @media (max-width: 1024px) {
      padding: 1.5rem;
      font-size: 20px;
    }

    @media (max-width: 600px) {
      padding: 1rem 1.5rem;
      font-size: 16px;
    }
  }

  app-cta-button {
    order: 3;

    @media (max-width: 750px) {
      align-self: flex-start;
      margin-top: 1rem;
    }
  }
}
