<section class="library-info-section">
  <!-- Background image: full section width -->
  <img loading="lazy"
    ngSrc="assets/images/books-background-medium.webp"
        ngSrcset="assets/images/books-background-small.webp 400w,
                  assets/images/books-background-medium.webp 800w"
        sizes="(max-width: 600px) 400px, 800px"
        width="800"
        height="600"
        alt="Livres"
        loading="lazy">

  <div class="library-info-section__content">
    <!-- Section header: title + CTA -->
    <div class="library-info-section__header">
      <!-- Reusable section title component -->
      <app-section-title title="Notre bibliothèque"></app-section-title>

      <!-- Call-to-action button leading to the "About" page -->
      <app-cta-button
        text="En savoir plus"
        color="yellow"
        icon="info"
        routerLink="/a-propos"
      ></app-cta-button>
    </div>

    <!-- Introductory text box -->
    <div class="library-info-section__text-box">
      <p class="library-info-section__description">
        À la bibliothèque de Montferrand, nous croyons que chaque lecteur mérite un lieu pour grandir,
        s’inspirer et créer du lien.
        Avec des milliers de livres, un espace numérique moderne et des activités pour tous les âges,
        notre établissement est bien plus qu’une simple bibliothèque.
      </p>
    </div>
  </div>
</section>
