<div class="book-card">
  <div class="book-card__header">
    <h3 class="book-card__title">{{ title }}</h3>
  </div>

  <div class="book-card__image">
    <ng-container *ngIf="image; else placeholder">
      <img
        ngSrc="{{ image }}"
        [alt]="title"
        width="400"
        height="300"
        loading="lazy"
      />
    </ng-container>
    <ng-template #placeholder>
      <img
        src="assets/images/placeholder.png"
        [alt]="title"
        width="400"
        height="300"
        loading="lazy"
      />
    </ng-template>
  </div>

  <div class="book-card__content">
    <p
      *ngIf="description?.trim()"
      class="book-card__description"
    >
      {{ description }}
    </p>
    <a class="book-card__link" [href]="link">Voir le détail</a>
  </div>
</div>
