.book-card {
  width: 100%;
  max-width: 220px;
  text-align: center;
  font-family: 'Lato', sans-serif;

  &__header {
    background-color: #a4d0e5;
    color: #004b87;
    font-weight: bold;
    padding: 0.5rem;
  }

  &__image {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  &__description {
    font-size: 14px;
    margin-bottom: 1rem;
  }

  &__link {
    color: #f9b233;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
